{{define "content"}}
<p>As this is a public resume, I have purposefully redacted my address and phone number.</p>
<iframe
    src="https://drive.google.com/viewerng/viewer?embedded=true&url=https://trevor-edris.io#toolbar=0&scrollbar=0"
    frameBorder="0"
    scrolling="auto"
    height="90%"
    width="100%"
></iframe>
{{end}}
